#cont-biografia {
    background-color: whitesmoke;
    height: 400px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#biografia {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: start;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    margin: 0;
}

#animacionBiografia {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

#animacionBiografia span {
    display: inline-block;
    opacity: 0;
    transform: translateY(1em);
    transition: opacity 0.5s, transform 0.5s;
    margin: 0;
    padding: 0;
    word-break: keep-all;
}

#animacionBiografia span.show {
    opacity: 1;
    transform: translateY(0);
}

#sobreMi {
    font-family: 'Times New Roman', Times, serif;
}

#cont-biografia img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

#cont-proyectos {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

#cont-proyectos-row {
    width: 100%;
    margin-top: 24px;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#habilidades {
    background-color: #06141b;
    color: #CCd0Cf;
    width: 100%;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 12px;
}

#habilidades-titulo {
    font-size: 42px;
    font-family: 'Times New Roman', Times, serif;
}

#habilidades-lista {
    font-family: 'Times New Roman', Times, serif;
    border-radius: 6px;
}

.custom-list {
    border-radius: 10px;
    background-color: #4A5C6A;
    border: 1px solid #4A5C6A;
}

#custom-title {
    color: #CCd0Cf;
}

.custom-list {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.custom-list.visible {
    opacity: 1;
    transform: translateY(0);
}

.custom-list.hidden {
    opacity: 0;
    transform: translateY(50px);
}

#sobremi-container {
    background-color: aqua;
}